.app {
    min-height: 100vh;
    background-color: #f1f5f8;
}

.underline {
    height: 0.25rem;
    width: 5rem;
    background: #49a6e9;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.main-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

:root {
    --transition: all 0.3s linear;
    --max-width: 1170px;
    --radius: 5px;
    --clr-black: #222;
    --primaryColor: #476a2e;
}
