.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

:global(.underline) {
    background: #c59d5f !important;
}

.group-menu {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.menu {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #c59d5f;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 0 5px;
    transition: all 0.3s linear;

    &:hover {
        background: #c59d5f;
        color: white;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

//menus
.image {
    height: 150px;
    border-radius: 5px;
    border: 3px solid #c59d5f;
    margin-right: 20px;
}

.wrapper-menu {
    display: flex;
    width: 550px;
    padding: 20px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted black;
}
