.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

:global(.main-title) {
    color: #063251;
}

.header {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    letter-spacing: 1px;
}

.title {
    font-size: 20px;
}

.number {
    padding: 2px 5px;
    border: none;
    border-radius: 3px;
    width: 40px;
    margin: 0 7px;
}

.action {
    background-color: #49a6e9;
    color: black;
    border-radius: 3px;
    border: none;
    padding: 8px 15px;
    letter-spacing: 1px;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
        background-color: #a5d5f8;
        color: #49a6e9;
        border-color: #a5d5f8;
    }
}

.content {
    text-align: center;
}
