.wrapper {
    background-color: #eeeeee;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
}

.courses {
    width: 90vw;
    max-width: 1120px;
    margin: 0px auto 2rem;
    display: grid;
    gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.course {
    width: 352px;
    height: 320px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 20px 10px -15px rgb(197 192 249 / 20%);
    margin: 10px;
    text-decoration: none;
    color: black;

    &:hover {
        box-shadow: 0 20px 20px -15px rgb(95 83 214 / 20%);
        transform: scale(1.02);
    }
}

.preview {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 264px;
    object-fit: cover;
}

.info {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
}
