.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    letter-spacing: 1.5px;
    font-size: 2rem;
}

.name {
    margin-left: 15px;
    text-shadow: 0px 3px rgba(120, 111, 111, 0.3);
}

.links {
    display: flex;
    list-style-type: none;
}

.link {
    margin: 0 7px;
    text-decoration: none;
    color: #324d67;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 16px;
    transition: all 0.3s linear;

    &:hover {
        color: #49a6e9;
    }
}

.social {
    display: flex;
    list-style-type: none;
}

.icon {
    color: #49a6e9;
    transition: all 0.3s linear;
    margin: 0 7px;

    &:hover {
        color: #8bcbf9;
    }
}
