.wrapper {
    display: flex;
    margin: 20px;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email {
    font-weight: 500;
    color: rgb(24 24 32 / 67%);
    font-size: 12px;
}
